<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <head>
        <title>Data Jenis Dokumen Pengajuan</title>
        <script language="JavaScript">
            function ConfirmDelete()
            {
                var x = confirm("Anda yakin?");
                if (x)
                    return true;
                else
                    return false;
            }
        </script>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Data Jenis Pengajuan Dokumen</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Tambah data Jenis Pengajuan Dokumen</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form th:action="@{/jenisDokumenPengajuan/form}" th:object="${jpd}" method="post">
                            <div class="box-body">
                                <input type="hidden" th:field="*{id}" />
                                <div class="form-group">
                                    <label for="nama">Nama</label>
                                    <input type="text"
                                           th:field="*{nama}"
                                           name="nama" class="form-control" id="nama" placeholder="Nama" />
                                    <label class="control-label error-label" th:errors="*{nama}">
                                        Pesan error nanti di sini
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="keterangan">Keterangan</label>
                                    <input type="text"
                                           th:field="*{keterangan}"
                                           name="keterangan" class="form-control" id="keterangan" placeholder="Keterangan" />
                                    <label class="control-label error-label" th:errors="*{keterangan}">
                                        Pesan error nanti di sini
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="required">Required</label>
                                    <div class="checkbox">
                                        <label><input type="checkbox" th:field="*{required}" />Required</label>
                                    </div>
                                    <label class="control-label error-label" th:errors="*{required}">
                                        Pesan error nanti di sini
                                    </label>
                                </div>
                                <div class="form-group">
                                    <a th:href="@{/jenisDokumenPengajuan/list}" class="btn btn-default" role="button">
                                        <span aria-hidden="true"></span>Batal
                                    </a>
                                    <button type="submit" class="btn btn-default" onclick="return ConfirmDelete();">Simpan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>