<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>Kelengkapan Dokumen</title>
        <style>
            .thumbs{
                padding-left: 10px;
                padding-right: 10px;
            }
            .progression{
                padding-left: 10px;
                padding-right: 10px;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Kelengkapan Dokumen</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li>Kelengkapan Dokumen</li>
                <li class="active">Upload Dokumen</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-lg-12 progression">
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-check-square"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Tingkat Kelengkapan</span>
                            <span class="info-box-number">1</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 6%"></div>
                            </div>
                            <span class="progress-description">
                                Dari 21 dokumen.
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
            </div>
            <br />
            <div>
                <div class="row">
                    <div class="col-lg-2 col-xs-6 thumbs">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <span style="font-weight: bold;">KTP</span>
                                <p><span class="pull-left">Status</span><span class="pull-right">Ok</span></p>
                                <br />
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">Upload <i class="fa fa-upload"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-6 thumbs">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <span style="font-weight: bold;">Ijasah</span>
                                <p><span class="pull-left">Status</span><span class="pull-right">Review</span></p>
                                <br />
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">Upload <i class="fa fa-upload"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-6 thumbs">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <span style="font-weight: bold;">Sert. Hafidz</span>
                                <p><span class="pull-left">Status</span><span class="pull-right">Kosong</span></p>
                                <br />
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">Upload <i class="fa fa-upload"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-6 thumbs">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <span style="font-weight: bold;">Sert. TOEFL</span>
                                <p><span class="pull-left">Status</span><span class="pull-right">Kosong</span></p>
                                <br />
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">Upload <i class="fa fa-upload"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-6 thumbs">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <span style="font-weight: bold;">KTP</span>
                                <p><span class="pull-left">Status</span><span class="pull-right">Ok</span></p>
                                <br />
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">Upload <i class="fa fa-upload"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-6 thumbs">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <span style="font-weight: bold;">KTP</span>
                                <p><span class="pull-left">Status</span><span class="pull-right">Ok</span></p>
                                <br />
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">Upload <i class="fa fa-upload"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>