<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>Program Studi</title>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Daftar Program Studi</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Daftar program studi</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <a class="box-title btn btn-primary" th:href="@{/programstudi/form}">Tambah program studi</a>
                            <div class="box-tools">
                                <form th:action="@{/programstudi/list}" method="get">
                                    <div class="input-group input-group-sm" style="width: 250px;">
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian Berdasarkan Nama" th:if="${key} == null"/>
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian Berdasarkan Nama" th:if="${key} != null" th:value="${key}" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Nama</th>
                                            <th>Keterangan</th>
                                            <th>Jenjang</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        <tr th:each="ps :${daftarProgramStudi.content}">
                                            <td th:text="${ps.nama}">Muhammad Fadlan</td>
                                            <td th:text="${ps.keterangan}">Teknik Informatika</td>
                                            <td th:text="${ps.jenjang}">S1</td>
                                            <td>
                                                <a href="form.html" class="btn btn-info" th:href="@{/programstudi/form(id=${ps.id})}" title="edit program studi"><span class="glyphicon glyphicon-edit"></span></a>
                                                <a href="delete.html" class="btn btn-info" th:href="@{/programstudi/delete(id=${ps.id})}" title="delete"><span class="glyphicon glyphicon-remove-circle remove-data"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:if="${not #lists.isEmpty(daftarProgramStudi.content)}">
                            <br/>
                            <div class="text-center"> 
                                <nav>
                                    <ul class="pagination" sd:pagination="full">
                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>