<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
	<title>Data Institusi</title>
</head>
<body>
	<div layout:fragment="breadcrumb">
      <h1>Data Institusi</h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Tambah data institusi</li>
      </ol>	
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-6">
				<div class="box box-primary">
		         <div class="box-header with-border">
		           <h3 class="box-title">&nbsp;</h3>
		         </div>
		         <!-- /.box-header -->
		         <!-- form start -->
		         <form role="form" method="post">
		         	<div class="box-body">
					    <div class="form-group">
					      <label for="nama">Nama</label>
					      <input type="text" class="form-control" id="nama" placeholder="nama" />
					    </div>
			              <div class="form-group">
			                <label for="alamat">Alamat</label>
			                  <input type="text" class="form-control pull-right" id="alamat" name="alamat" placeholder="alamat" />
			              </div>
			              <div class="form-group">
			                <label for="nohp">No Telepon</label>
			                  <input type="text" class="form-control pull-right" id="nohp" name="nohp" placeholder="no hp"/>
			              </div>
			              <div class="form-group">
			                <label for="nohp">Website</label>
			                  <input type="text" class="form-control pull-right" id="website" name="website" placeholder="website"/>
			              </div>
			              <div class="form-group">
			                <label for="email">E-Mail</label>
			                  <input type="text" class="form-control pull-right" id="email" name="email" placeholder="email"/>
			              </div>	              
				  	</div>				  
				  <!-- /.box-body -->				
				    <div class="box-footer">
				      <button type="submit" class="btn btn-primary">Submit</button>
				    </div>
				  </form>
				</div>
			</div>			
		</div>
	</div>
</body>
</html>