<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
	<title>Data Institusi</title>
</head>
<body>
	<div layout:fragment="breadcrumb">
      <h1>Data Institusi</h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Data institusi</li>
      </ol>	
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
		         <div class="box-header with-border">
		           <h3 class="box-title">&nbsp;</h3>
		         </div>
		         <!-- /.box-header -->
		         <!-- form start -->
		         <form role="form" method="post">
		         	<div class="box-body">
					    <div class="form-group">
					      <label for="nama">Nama</label>
					      <p class="form-control-static">STEI Tazkia</p>
					    </div>
			              <div class="form-group">
			                <label for="alamat">Alamat</label>
			                <div>Sentul City, Kabupaten Bogor</div>
			              </div>
			              <div class="form-group">
			                <label for="nohp">No Telepon</label>
			                <p class="form-control-static">+62 21 1234567890</p>
			              </div>
			              <div class="form-group">
			                <label for="nohp">Website</label>
			                <p class="form-control-static">info@tazkia.ac.id</p>
			              </div>
			              <div class="form-group">
			                <label for="email">E-Mail</label>
			                  <p class="form-control-static">info@tazkia.ac.id</p>
			              </div>	              
				  	</div>				  
				  <!-- /.box-body -->				
				    <div class="box-footer">
				      <a th:href="@{/institusi/form}" class="btn btn-default">Edit</a>
				    </div>
				  </form>
				</div>
			</div>			
		</div>
	</div>
</body>
</html>