<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <head>
        <title>Edit Data Dosen</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Edit Data Dosen</h1>
            <form class="form-horizontal" action="#" th:action="@{/dosen/form}" th:object="${dosen}" 
                  method="post" enctype="multipart/form-data" >
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{user}" />

                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nama Dosen</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{nama}"
                               name="nama" class="form-control" id="nama" placeholder="Nama Dosen" />
                        <label class="control-label" th:errors="*{nama}">
                            Pesan error nanti di sini
                        </label>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">NIDN</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{nidn}"
                               name="nidn" class="form-control" id="nidn" placeholder="NIDN" />
                        <label class="control-label" th:errors="*{nidn}" >
                            Pesan error nanti di sini
                        </label>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{email}"
                               name="email" class="form-control" id="email" placeholder="Email" />
                        <label class="control-label" th:errors="*{email}" >
                            Pesan error nanti di sini
                        </label>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="col-sm-2 control-label">No Handphone</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{noTelp}" class="form-control" placeholder="No Handphone" />
                        <label class="control-label" th:errors="*{noTelp}" >
                            Pesan error nanti di sini
                        </label>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="col-sm-2 control-label">Tempat Lahir</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{tempatLahir}" class="form-control" placeholder="Tempat Lahir" />
                        <label class="control-label" th:errors="*{tempatLahir}" >
                            Pesan error nanti di sini
                        </label>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="col-sm-2 control-label">Tanggal Lahir</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{tglLahir}" class="form-control" placeholder="yyyy-MM-dd"  />
                        <label class="control-label" th:errors="*{tglLahir}" >
                            Pesan error nanti di sini
                        </label>
                    </div>
                </div>

                <div class="form-group" >
                    <label for="alamat" class="col-sm-2 control-label">Alamat</label>
                    <div class="col-sm-10">
                        <input type="textarea" th:field="*{alamat}"
                               name="alamat" class="form-control" id="alamat" placeholder="alamat" />
                        <label class="control-label" th:errors="*{alamat}" >
                            Pesan error nanti di sini
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Jabatan</label>
                    <div class="col-sm-10">
                        <select class="form-control" th:field="*{jabatan}">
                            <option th:each="p : ${listJabatan}"
                                    th:value="${p.id}"
                                    th:text="${p.nama}">Pilih Jabatan
                            </option>
                        </select>
                        <label class="control-label selectpicker" th:errors="*{jabatan}">
                            Pesan error nanti di sini
                        </label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="provinsi" class="col-sm-2 control-label">Provinsi</label>
                    <div class="col-sm-10">
                        <select class="form-control selectpicker" th:field="*{provinsi}">
                            <option th:each="p : ${listProvinsi}"
                                    th:value="${p.id}"
                                    th:text="${p.nama}">Pilih Provinsi
                            </option>
                        </select>
                        <label class="control-label" th:errors="*{provinsi}">
                            Pesan error nanti di sini
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="kota" class="col-sm-2 control-label">Kota</label>
                    <div class="col-sm-10">
                        <select class="form-control selectpicker" th:field="*{kota}">
                        </select>
                        <label class="control-label" th:errors="*{kota}">
                            Pesan error nanti di sini
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="kecamatan" class="col-sm-2 control-label">Kecamatan</label>
                    <div class="col-sm-10">
                        <select class="form-control selectpicker" th:field="*{kecamatan}">
                        </select>
                        <label class="control-label" th:errors="*{kecamatan}">
                            Pesan error nanti di sini
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a th:href="@{/dosen/list}" class="btn btn-default" role="button">
                            <span aria-hidden="true"></span>Batal
                        </a>
                        <button onclick="return confirm('Yakin ingin menyimpan data ini ?')" type="submit" class="btn btn-default">Simpan</button>

                    </div>
                </div>
            </form>
            <script type="text/javascript">
                $(document).ready(function () {
                    function injectRegionValueOnEdit() {
                        // Dirunning jika dalam keadaan Form Edit
                        if ($("#kotaId").text()) {
                            getListKota("kota",
                                    $("#provinsi").val(),
                                    $("#kotaId").text(),
                                    "formAddress");

                            getListKecamatan("kecamatan",
                                    $("#kotaId").text(),
                                    $("#kecamatanId").text(),
                                    "formAddress");

                        }
                    }
        //                    injectRegionValueOnEdit();

                    $("#provinsi").on("change", function () {
                        var idProvinsi = $(this).val();
                        getListKota("kota", idProvinsi);
                    });

                    $("#kota").on("change", function () {
                        var idKota = $(this).val();
                        getListKecamatan("kecamatan", idKota);
                    });
                });
            </script>
        </div>
    </body>
</html>