<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>Daftar Dosen</title>
        <script language="JavaScript">
            $(document).ready(function () {
                $(".remove-data").each(function () {
                    $(this).click(function () {
                        if (confirm('Data will be deleted?'))
                            return true;
                        return false;
                    });
                });
            });
        </script>
        <style>
            .noWrapColumn{
                white-space: nowrap !important;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Daftar Dosen</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Daftar Dosen</li>
            </ol>	
        </div>
        <div layout:fragment="content">	
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <a class="box-title btn btn-primary" th:href="@{/dosen/form}">Tambah data dosen</a>
                            <div class="box-tools">
                                <form id="form" action="#" method="get" th:action="@{/dosen/list}">
                                    <div class="input-group input-group-sm" style="width: 250px;">
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian Berdasarkan nama" th:if="${key} == null"/>
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian Berdasarkan nama" th:if="${key} != null" th:value="${key}"/>
                                        <input type="hidden" name="mode" id="mode"/>
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Nama</th>
                                            <th>NIDN</th>
                                            <th>Email</th>
                                            <th>No Telp</th>
                                            <th>Tempat Lahir</th>
                                            <th>Tgl Lahir</th>
                                            <th>Alamat</th>
                                            <th>Provinsi</th>
                                            <th>Kota</th>
                                            <th>Kec</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr th:each="dosen : ${data.content}">
                                            <td th:text="${dosen.nama}">Nama</td>
                                            <td th:text="${dosen.nidn}">NIDN</td>
                                            <td th:text="${dosen.email}">Email</td>
                                            <td th:text="${dosen.noTelp}">No Handphone</td>
                                            <td th:text="${dosen.tempatLahir}">Tempat Lahir</td>
                                            <td th:text="${dosen.tglLahir}">Tanggal Lahir</td>
                                            <td th:text="${dosen.alamat}">Alamat</td>
                                            <td th:text="${dosen.provinsi.nama}">Provinsi</td>
                                            <td th:text="${dosen.kota.nama}">Kota</td>
                                            <td th:text="${dosen.kecamatan.nama}">Kecamatan</td>
                                            <td>
                                                <a href="form.html" th:href="@{/dosen/form?id={id}(id=${dosen.id})}" title="Edit Data Dosen"><span class="glyphicon glyphicon-edit"></span></a>
                                                <a href="delete.html" th:href="@{/dosen/delete?id={id}(id=${dosen.id})}" title="Delete Data Dosen"><span class="glyphicon glyphicon-remove-circle remove-data"></span></a>
                                            </td>
                                        </tr>
                                        <tr th:if="${#lists.isEmpty(data.content)}">
                                            <td colspan="13" class="text-center">Data dosen tidak ditemukan</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center" th:if="${not #lists.isEmpty(data.content)}">
                                <ul class="pagination" sd:pagination="full"></ul>
                            </div>
                        </div>
                        <!-- /.box-body
                        <div class="box-footer clearfix" th:include="paging :: paginationbar"></div>
                        -->
                    </div>		
                </div>
            </div>
        </div>
    </body>
</html>