<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Poin Kegiatan</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Poin Kegiatan</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Tambah Poin Kegiatan</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="jeniskegiatan">Jenis Kegiatan</label>

                                <select class="form-control" name="jeniskegiatan" id="Jenis Kegiatan">
                                    <option value="Beban mengajar 10 sks pertama" >Beban mengajar 10 sks pertama</option>
                                    <option value="beban mengajar 2 sks berikutnya" >beban mengajar 2 sks berikutnya</option>
                                    <option value="Melakukan pengajaran untuk peserta pendidikan dokter melalui tindakan medik spesialistik" >
                                        Melakukan pengajaran untuk peserta pendidikan dokter melalui tindakan medik spesialistik</option>
                                    <option value="Melakukan pengajaran Konsultasi spesialis  kepada peserta   pendidikan dokter" >
                                        Melakukan pengajaran Konsultasi spesialis  kepada peserta   pendidikan dokter</option>
                                    <option value="Melakukan pemeriksaan luar dengan pembimbingan terhadap peserta   pendidikan dokter" >
                                        Melakukan pemeriksaan luar dengan pembimbingan terhadap peserta pendidikan dokter</option>
                                    <option value="Melakukan pemeriksaan dalam dengan pembimbingan terhadap peserta  pendidikan dokter" >
                                        Melakukan pemeriksaan dalam dengan pembimbingan terhadap peserta  pendidikan dokter</option>

                                </select>

                        </div>


                        <div class="form-group">
                            <label for="jabatan">Jabatan</label>

                            <select class="form-control" name="Jabatan" id="Jabatan">
                                <option value="Asisten Ahli" >Asisten Ahli</option>
                                <option value="Lektor" >Lektor</option>
                                <option value="Lektor Kepala" >Lektor Kepala</option>
                                <option value="Profesor" >Profesor</option>
                            </select>

                        </div>


                        <div class="form-group">
                            <label for="nilaimaksimum">Nilai Maksimum</label>
                            <input type="text" class="form-control" id="nilaimaksimum" placeholder="Nilai Maksimum" />
                        </div>
                        <div class="form-group">
                            <label for="nilai">Nilai</label>
                            <input type="text" class="form-control" id="nilai" placeholder="Nilai" />
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>