<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>Mata Kuliah</title>
        <script language="JavaScript">
            $(document).ready(function () {
                $(".remove-data").each(function () {
                    $(this).click(function () {
                        if (confirm('Data will be deleted?'))
                            return true;
                        return false;
                    });
                });
            });
        </script>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Daftar Mata Kuliah</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Mata Kuliah</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <a class="box-title btn btn-primary" th:href="@{/matakuliah/form}">Tambah Mata Kuliah</a>
                            <div class="box-tools">
                                <form id="form" action="#" method="get" th:action="@{/matakuliah/search}">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Search"/>
                                        <input type="hidden" name="mode" id="mode"/>
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th align="center">Kode</th>
                                        <th align="center">Nama</th>
                                        <th align="center">Program Studi</th>
                                        <th align="center">Konsentrasi</th>
                                        <th align="center">SKS</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    <tr th:each="mataKuliah : ${mataKuliahList}">
                                        <td th:text="${mataKuliah.kode}">jenis kegiatan 1</td>
                                        <td th:text="${mataKuliah.nama}">keterangan jenis kegiatan 1</td>
                                        <td th:text="${mataKuliah.programStudi.nama}">template jenis kegiatan 1</td>
                                        <td th:text="${mataKuliah.konsentrasi}">1</td>
                                        <td th:text="${mataKuliah.sks}">1</td>
                                        <td>
                                            <a href="#" class="btn btn-info" th:href="@{/matakuliah/form(id=${mataKuliah.id})}" title="edit jenis kendaraan"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="#" class="btn btn-info" th:href="@{/matakuliah/delete(id=${mataKuliah.id})}" title="delete logic"><span class="glyphicon glyphicon-remove-circle remove-data"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>