<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Data Jenis Surat</title>
</head>
<body>
<div layout:fragment="content">
    <h3>Hapus <span th:text="*{entityName}"></span> Gagal!</h3>
    <div class="bg-danger" style="padding: 15px;">
        <p>
            <span th:text="*{entityName}"></span> <strong><span th:text="*{entityId}"></span></strong> tidak bisa dihapus.
            <br/>
            <br/>
            Penyebab:
            <br/>
            <span th:text="*{errorCause}"></span>
        </p>
    </div>
    <br/>
    <a th:href="${backLink}" class="btn btn-default" role="button">
        <span aria-hidden="true"></span>kembali
    </a>
</div>
</body>
</html>