<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>Surat Tugas</title>
        <script language="JavaScript">
            $(document).ready(function () {
                $(".remove-data").each(function () {
                    $(this).click(function () {
                        if (confirm('Data will be deleted?'))
                            return true;
                        return false;
                    });
                });
            });
        </script>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Daftar Surat Tugas</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Daftar surat tugas</li>
            </ol>	
        </div>
        <div layout:fragment="content">	
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <a class="box-title btn btn-primary" th:href="@{/surattugas/form}">Tambah surat tugas</a>
                            <div class="box-tools">
                                <form id="form" action="#" method="get" th:action="@{/surattugas/list}">
                                    <div class="input-group input-group-sm" style="width: 250px;">
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian Berdasarkan No Surat" th:if="${key} == null"/>
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian Berdasarkan No Surat" th:if="${key} != null" th:value="${key}" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>No.</th>
                                            <th>Jenis Surat</th>
                                            <th>No Surat</th>
                                            <th>Penerima</th>
                                            <th>Tanggal Mulai</th>
                                            <th>Tanggal Selesai</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        <tr th:each="st,iter : ${suratTugas}">
                                            <td th:text="${iter.count}">1</td>
                                            <td th:text="${st.jenisSurat.nama}">id</td>
                                            <td th:text="${st.noSurat}">noSurat</td>
                                            <td th:text="${st.penerima.nama}">id</td>
                                            <td th:text="${#dates.format(st.tanggalMulai, 'dd-MMM-yyyy')}">tanggalMulai</td>
                                            <td th:text="${#dates.format(st.tanggalSelesai, 'dd-MMM-yyyy')}">tanggalSelesai</td>
                                            <td>
                                                <a href="#" class="btn btn-info" th:href="@{/surattugas/form(id=${st.id})}" title="edit surat tugas"><span class="glyphicon glyphicon-edit"></span></a>
                                                <a href="#" class="btn btn-info" th:href="@{/surattugas/delete(id=${st.id})}" title="delete surat tugas"><span class="glyphicon glyphicon-remove-circle remove-data"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body
                        <div class="box-footer clearfix" th:include="paging :: paginationbar"></div>
                        -->
                        <div class="text-center"> 
                            <nav>
                                <ul class="pagination" sd:pagination="full">
                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </body>
</html>