<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <head>
        <title>Change Password</title>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Form Change Password</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Form Change Password</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Form</h3>
                        </div>
                        <div class="box-body">
                            <form th:action="@{/changepassword}" method="post" role="form">
                                <div class="box">
                                    <div class="box-header"><br/>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Password Lama<span style="color: red;">*</span></label>
                                                <div class="col-md-4">
                                                    <input name="oldPassword" type="password" class="form-control" placeholder="Password Lama" required=""
                                                           oninvalid="this.setCustomValidity('Masukan password lama')"
                                                           oninput="setCustomValidity('')"
                                                           />
                                                </div>
                                            </div>
                                        </div><br/>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Password Baru<span style="color: red;">*</span></label>
                                                <div class="col-md-4">
                                                    <input name="newPassword" type="password" class="form-control" placeholder="Password Baru" id="password" required=""
                                                           oninvalid="this.setCustomValidity('Masukan password baru')"
                                                           oninput="setCustomValidity('')"
                                                           />
                                                </div>
                                            </div>
                                        </div><br/>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Konfirmasi Password Baru<span style="color: red;">*</span></label>
                                                <div class="col-md-4">
                                                    <input type="password" class="form-control" placeholder="Konfirmasi Password Baru" id="confirm_password" required=""
                                                           oninvalid="this.setCustomValidity('Konfirmasi Password kosong/Tidak sesuai. Silahkan cek kembali')"
                                                           oninput="setCustomValidity('')"
                                                           />
                                                </div>
                                            </div>
                                        </div><br/><br/>
                                        <br/><br/>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="pull-right">
                                        <a><input class="btn btn-primary" type="submit" role="button" value="Simpan"/></a>
                                        <a class="btn btn-default">Kembali</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var password = document.getElementById("password")
                        , confirm_password = document.getElementById("confirm_password");

                function validatePassword() {
                    if (password.value != confirm_password.value) {
                        confirm_password.setCustomValidity("Konfirmasi Password Tidak Sesuai");
                    } else {
                        confirm_password.setCustomValidity('');
                    }
                }

                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;
            </script>
        </div>
    </body>
</html>