<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />


    <title layout:title-pattern="$DECORATOR_TITLE :: $CONTENT_TITLE">Aplikasi Dosen</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"/>
	
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/aplikasi.css}" rel="stylesheet" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <!--<span class="icon-bar"></span>-->
            </button>
            <a class="navbar-brand" href="#">Aplikasi Dosen</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingMasterData">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMasterData" aria-expanded="true" aria-controls="collapseMasterData">
                                Data Master
                            </a>
                        </h4>
                    </div>
                    <div id="collapseMasterData" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMasterData">
                        <div class="panel-body">
                            <ul class="nav nav-sidebar">
                                <li><a th:href="@{/institusi/view}">Institusi</a></li>
                                <li><a th:href="@{/jenissurat/list}">Jenis Surat</a></li>
                                <li><a th:href="@{/dosen/list}">Dosen</a></li>
                                <li><a th:href="@{/programstudi/list}">Program Studi</a></li>
                                <li><a th:href="@{/surattugas/list}">Surat Tugas</a></li>
                                <li><a th:href="@{/jurnal/list}">Jurnal Penelitian</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingKegiatan">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseKegiatan" aria-expanded="false" aria-controls="collapseKegiatan">
                                Kegiatan Dosen
                            </a>
                        </h4>
                    </div>
                    <div id="collapseKegiatan" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingKegiatan">
                        <div class="panel-body">
                            <ul class="nav nav-sidebar">
                                <li><a th:href="@{/kbm/list}">Kegiatan Belajar Mengajar</a></li>
                                <li><a th:href="@{/tulisan/list}">Tulisan</a></li>
                                <li><a th:href="@{/penelitian/list}">Penelitian</a></li>
                                <li><a th:href="@{/bimbingan/list}">Bimbingan Penelitian</a></li>
                                <li><a th:href="@{/jurnal/list}">Publikasi ke Jurnal</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingLaporan">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLaporan" aria-expanded="false" aria-controls="collapseLaporan">
                                Laporan
                            </a>
                        </h4>
                    </div>
                    <div id="collapseLaporan" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLaporan">
                        <div class="panel-body">
                            <ul class="nav nav-sidebar">
                                <li><a href="#">Laporan Dikti</a></li>
                                <li><a href="#">Laporan Kopertais</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div layout:fragment="content">Di sini content utama</div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
 
<script type="text/javascript">
    $(document).ready(function () {
 
        $(function () {
            $(".datepicker").datepicker({
                todayBtn: "linked",
                autoclose: true, 
                todayHighlight: true
                
            });
        });
    });
        
</script>
</body>
</html>