<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reset Password</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        <!-- Bootstrap core CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="#" th:href="@{/css/AdminLTE.min.css}"/>
        <link rel="stylesheet" href="#" th:href="@{/css/skins/_all-skins.min.css}"/>
        <link rel="icon" href="#" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo"></div>

            <div th:if="${not #maps.isEmpty(message)}" class="alert alert-danger">    
                <ul th:each="instance : ${message}">
                    <li th:text="${instance.value}"></li>
                </ul>
            </div>
            <div id="alert" style="display: none;" class="alert alert-danger">    
                <ul>
                    <li>Password Yang Anda Masukkan Tidak Sama</li>
                </ul>
            </div>

            <div class="login-box-body">
                <p class="login-box-msg">Set a New Password</p>
                <!--<input name="form_key" type="hidden" value="Voi53bGdscjMR1ex"/>-->
                <!--<div id="authenticationPopup" data-bind="scope:'authenticationPopup'" style="display: none;"></div>-->

                <form th:action="@{/reset_password}" method="post" autocomplete="off" id="form-validate" class="form password reset" novalidate="novalidate">
                    <input type="hidden" class="form-control" name="token" th:value="${#httpServletRequest.getParameter('token')}"/>
                    <div class="form-group">
                        <div class="control">
                            <input type="password" placeholder="Masukkan Password Baru" class="form-control" th:value="${newPassword}" name="newPassword" id="password" data-password-min-length="8" data-password-min-character-sets="3" data-validate="{required:true, 'validate-customer-password':true}" autocomplete="off" aria-required="true"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control">
                            <input type="password" placeholder="Konfirmasi Password" class="form-control" name="password_confirmation" id="password-confirmation" />
                            <div id="globalError" class="col-sm-12 alert alert-danger" style="display:none">Konfirmasi Password tidak sesuai</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" onclick="validate()" class="btn btn-primary"><span>Jadikan Password baru</span></button>
                        <input id="btnSetNewPassword" type="submit" class="hidden" />
                    </div>
                </form>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
            <script type="text/javascript">
                            function validate() {
                                if ($("#password").val() != $("#password-confirmation").val()) {
                                    $("#alert").show();
                                } else {
                                    $("#alert").hide();
                                    $('#btnSetNewPassword').click();
                                }
                            }
            </script>
        </div>
    </body>
</html>
