<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>Kategori Bukti Kegiatan</title>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Daftar Kategori Bukti Kegiatan</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Daftar Kategori Bukti Kegiatan</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <a class="box-title btn btn-primary" th:href="@{/kategoribuktikegiatan/form}">Tambah kategori bukti kegiatan</a>
                            <div class="box-tools">
                                <form id="form" action="#" method="get" th:action="@{/kategoribuktikegiatan/list}">
                                    <div class="input-group input-group-sm" style="width: 200px;">
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian berdasarkan nama" th:if="${key} == null"/>
                                        <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian berdasarkan nama" th:if="${key} != null" th:value="${key}"/>
                                        <input type="hidden" name="mode" id="mode"/>
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Nama</th>
                                            <th>Keterangan</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        <tr th:each="kategori : ${data}">
                                            <td th:text="${kategori.nama}">SK Penugasan</td>
                                            <td th:text="${kategori.keterangan}">Keterangan</td>
                                            <td>
                                                <a href="#" th:href="@{/kategoribuktikegiatan/form(id=${kategori.id})}" class="btn btn-info" title="edit kategori bukti kegiatan"><span class="glyphicon glyphicon-edit"></span></a>
                                                <a href="#" th:href="@{/kategoribuktikegiatan/delete(id=${kategori.id})}" class="btn btn-info" title="delete"><span class="glyphicon glyphicon-remove-circle remove-data"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:if="${not #lists.isEmpty(data.content)}">
                            <div class="text-center"> 
                                <nav>
                                    <ul class="pagination" sd:pagination="full">
                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>