<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>Pengajuan PAK</title>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Edit Form Pengajuan PAK Dosen</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Edit Form Pengajuan PAK Dosen</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Form</h3>
                        </div>
                        <form class="form-horizontal">
                            <div class="box-body">
                                <!--NIDN-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label">NIDN</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="inputNIDN" placeholder="NIDN" />
                                    </div>
                                </div>
                                <!--nama-->
                                <div class="form-group">
                                    <label for="nama" class="col-sm-3 control-label">Nama</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="namaDepan" placeholder="Nama depan" />
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="namaTengah" placeholder="Nama tengah" />
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="namabelakang" placeholder="Nama belakang" />
                                    </div>
                                </div>
                                <!--status dosen-->
                                <div class="form-group">
                                    <label for="statusDosen" class="col-sm-3 control-label">Status Dosen</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="statusDosen" placeholder="" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">1 = PNS atau 2 = NON PNS</label>
                                    </div>
                                </div>
                                <!--nip/karpeg-->
                                <div class="form-group">
                                    <label for="nipKarpeg" class="col-sm-3 control-label">NIP/Karpeg</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="nip" placeholder="NIP" />
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <label class="control-label">/</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="karpeg" placeholder="Karpeg" />
                                    </div>
                                </div>
                                <!--tempat dan tanggal lahir-->
                                <div class="form-group">
                                    <label for="tempatDanTanggalLahir" class="col-sm-3 control-label">Tempat dan Tanggal Lahir</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="tempat" placeholder="Tempat" />
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="date" class="form-control pull-right" id="datepicker" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Format Tgl. Angka [hari/bulan/tahun]</label>
                                    </div>
                                </div>
                                <!--pangkat dan golongan-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label">Pangkat dan Golongan</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="tempat" placeholder="" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Keterangan Angka --></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="sel1">
                                            <option>-Lihat-</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!--tmt pangkat-->
                                <div class="form-group">
                                    <label for="tmtPangkat" class="col-sm-3 control-label">TMT Pangkat</label>
                                    <div class="col-sm-4">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="date" class="form-control pull-right" id="datepicker" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="control-label">Format Tgl.Angka [hari/bulan/tahun]</label>
                                    </div>
                                </div>
                                <!--jabatan dosen-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label">Jabatan Dosen</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="tempat" placeholder="" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Keterangan Angka --></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="sel1">
                                            <option>-Lihat-</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!--tmt jabatan-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label">TMT jabatan</label>
                                    <div class="col-sm-4">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="date" class="form-control pull-right" id="datepicker" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="control-label">Format Tgl.Angka [hari/bulan/tahun]</label>
                                    </div>
                                </div>
                                <!--pendidikan tertinggi saat pak sebelumnya-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label">Pendidikan Tertinggi (saat PAK sebelumnya)</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="statusDosen" placeholder="" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">1 = S1, 2 = S2, 3 = S3</label>
                                    </div>
                                </div>
                                <!--pendidikan tertinggi skrng-->
                                <div class="form-group">
                                    <label for="pendidikanTertinggi" class="col-sm-3 control-label">Pendidikan Tertinggi (PAK sekarang)</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="statusDosen" placeholder="" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">1 = S1, 2 = S2, 3 = S3</label>
                                    </div>
                                </div>
                                <!--Fakultas-->
                                <div class="form-group">
                                    <label for="fakultas" class="col-sm-3 control-label">Fakultas</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="namaDepan" placeholder="Fakultas" />
                                    </div>
                                </div>
                                <!--jurusan/program studi-->
                                <div class="form-group">
                                    <label for="jurusan" class="col-sm-3 control-label">Jurusan/Program studi</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="namaDepan" placeholder="Jurusan / Program studi" />
                                    </div>
                                </div>
                                <!--mata kuliah yang dibina-->
                                <div class="form-group">
                                    <label for="mataKuliahYangDibina" class="col-sm-3 control-label">Mata Kuliah yang Dibina</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="namaDepan" placeholder="Mata Kuliah" />
                                    </div>
                                </div>
                                <!--jenis usulan-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label">Jenis dan Usulan</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="tempat" placeholder="" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Keterangan Angka --></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="sel1">
                                            <option>-Lihat-</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!--angka kredit yang dibutuhkan-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label">Angka Kredit yang Dibutuhkan</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="tempat" placeholder="" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Keterangan Angka --></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="sel1">
                                            <option>-Lihat-</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!--kode bidang ilmu-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label">Kode Bidang Ilmu</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="tempat" placeholder="" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Keterangan Angka --></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="sel1">
                                            <option>-Lihat-</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!--nama bidang ilmu-->
                                <div class="form-group">
                                    <label for="namaBidangIlmu" class="col-sm-3 control-label">Nama Bidang Ilmu</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="namaDepan" placeholder="Nama Bidang Ilmu" />
                                    </div>
                                </div>
                                <!--diusulkan menjadi-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label">Diusulkan Menjadi</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="tempat" placeholder="" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Keterangan Angka --></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="sel1">
                                            <option>-Lihat-</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!--angka kredit sekarang-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label">Angka Kredit Sekarang</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="tempat" placeholder="" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Keterangan Angka --></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="sel1">
                                            <option>-Lihat-</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!--angka kredit yang diusulkan-->
                                <div class="form-group">
                                    <label for="angkaKreditUsul" class="col-sm-3 control-label">Angka Kredit yang Diusulkan</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="tempat" placeholder="" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Keterangan Angka --></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="sel1">
                                            <option>-Lihat-</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!--kategori dosen-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label">Kode Bidang Ilmu</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="tempat" placeholder="" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Keterangan Angka --></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="sel1">
                                            <option>-Lihat-</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <!--nomor surat-->
                                <div class="form-group">
                                    <label for="noSurat" class="col-sm-3 control-label">Nomor Surat</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="namaDepan" placeholder="Fakultas" />
                                    </div>
                                </div>
                                <!--tanggal surat-->
                                <div class="form-group">
                                    <label for="tanggalSurat" class="col-sm-3 control-label">Tanggal Surat</label>
                                    <div class="col-sm-4">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="date" class="form-control pull-right" id="datepicker" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="control-label">Format Tgl.Angka [hari/bulan/tahun]</label>
                                    </div>
                                </div>
                                <!--lampiran-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label">Lampiran</label>
                                    <div class="col-sm-4">
                                        <label class="control-label text-danger">Belum Lengkap</label>
                                    </div>
                                </div>
                                <!--button update-->
                                <div class="form-group">
                                    <label for="nidn" class="col-sm-3 control-label"></label>
                                    <div class="col-sm-4">
                                        <button class="btn btn-primary">Update!</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>