<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Kegiatan Belajar Mengajar</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Kegiatan Belajar Mengajar</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Kegiatan Belajar Mengajar</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <a class="box-title btn btn-primary" th:href="@{/kbm/form}">Input Kegiatan Pendidikan</a>
                    <div class="box-tools">
                        <form id="form" action="#" method="get" th:action="@{/kbm/search}">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="value" class="form-control pull-right" placeholder="Search"/>
                                <input type="hidden" name="mode" id="mode"/>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>No.</th>
                            <th>Keterangan</th>
                            <th>Tanggal Mulai</th>
                            <th>Tanggal Selesai</th>
                            <th>Mata Kuliah</th>
                            <th>Jumlah SKS</th>
                            <th>Program Studi</th>
                            <th>Jenjang</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr th:each="k,iter : ${daftarKbm}">
                            <td th:text="${iter.count}">1</td>
                            <td th:text="${k.keterangan}">Keterangan</td>
                            <td th:text="${k.tanggalMulai}">1 Jan 2017</td>
                            <td th:text="${k.tanggalSelesai}">30 Mei 2017</td>
                            <td th:text="${k.matakuliah}">Analisa Laporan Keuangan</td>
                            <td th:text="${k.jumlahSks}">3</td>
                            <td th:text="${k.programStudi}">Akuntansi</td>
                            <td th:text="${k.jenjang}">D3</td>
                            <td>
                                <a href="#" class="btn btn-info" th:href="@{/kbm/form(id=${st.id})}"
                                   title="edit jabatan"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="#" class="btn btn-info" th:href="@{/kbm/delete(id=${st.id})}"
                                   title="delete"><span
                                        class="glyphicon glyphicon-remove-circle remove-data"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Keterangan</td>
                            <td>1 Jan 2017</td>
                            <td>30 Mei 2017</td>
                            <td>Analisa Laporan Keuangan</td>
                            <td>3</td>
                            <td>Akuntansi</td>
                            <td>D3</td>
                            <td>
                                <a href="#" class="btn btn-info"
                                   title="edit jabatan"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="#" class="btn btn-info"
                                   title="delete"><span
                                        class="glyphicon glyphicon-remove-circle remove-data"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body
                <div class="box-footer clearfix" th:include="paging :: paginationbar"></div>
                 -->
            </div>
        </div>
    </div>
</div>
</body>
</html>